server {
  listen       ${NGINX_PORT};

  location / {
    root   /data;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;
  }

  location /api/ {
    proxy_pass  ${NGINX_HOST}/;
  }

  location /fst-api/ {
     proxy_pass ${FST_HOST}/;
  }
}