/*侧边栏*/
.nav-white-active{
  .v-list-item__title{
    color: color('shades','white') !important;
  }
  .v-list-item__icon{
    color: color('shades','white') !important;
  }
}

.nav-black-active{
  .v-list-item__content{
    color: color('shades','black') !important;
  }
  .v-list-item__icon{
    color: color('shades','black') !important;
  }
}
