.theme-settings-container {
  width: 258px;
  min-width: 258px;
  max-width: 258px;
  .v-card {

    max-height: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    cursor: pointer;
    font-size: 12px;
    line-height: 60px;
  }
}

$colors: (
  'active-500': (
    'bg': #00c486,
    'clr': #FFF
  ),
  'red-50': (
    'bg': color("red","lighten-5"),
    'clr': #000
  ),
  'red-100': (
    'bg': color("red","lighten-4"),
    'clr': #000
  ),
  'red-200': (
    'bg': color("red","lighten-3"),
    'clr': #000
  ),
  'red-300': (
    'bg': color("red","lighten-2"),
    'clr': #000
  ),
  'red-400': (
    'bg': color("red","lighten-1"),
    'clr': #000
  ),
  'red-500': (
    'bg': color("red","base"),
    'clr': #FFF
  ),
  'red-600': (
    'bg': color("red","darken-1"),
    'clr': #FFF
  ),
  'red-700': (
    'bg': color("red","darken-2"),
    'clr': #FFF
  ),
  'red-800': (
    'bg': color("red","darken-3"),
    'clr': #FFF
  ),
  'red-900': (
    'bg': color("red","darken-4"),
    'clr': #FFF
  ),
  'red-a100': (
    'bg': color("red","accent-1"),
    'clr': #000
  ),
  'red-a200': (
    'bg': color("red","accent-2"),
    'clr': #FFF
  ),
  'red-a400': (
    'bg': color("red","accent-3"),
    'clr': #FFF
  ),
  'red-a700': (
    'bg': color("red","accent-4"),
    'clr': #FFF
  ),
  'pink-50': (
    'bg': color("pink","lighten-5"),
    'clr': #000
  ),
  'pink-100': (
    'bg': color("pink","lighten-4"),
    'clr': #000
  ),
  'pink-200': (
    'bg': color("pink","lighten-3"),
    'clr': #000
  ),
  'pink-300': (
    'bg': color("pink","lighten-2"),
    'clr': #000
  ),
  'pink-400': (
    'bg': color("pink","lighten-1"),
    'clr': #000
  ),
  'pink-500': (
    'bg': color("pink","base"),
    'clr': #FFF
  ),
  'pink-600': (
    'bg': color("pink","darken-1"),
    'clr': #FFF
  ),
  'pink-700': (
    'bg': color("pink","darken-2"),
    'clr': #FFF
  ),
  'pink-800': (
    'bg': color("pink","darken-3"),
    'clr': #FFF
  ),
  'pink-900': (
    'bg': color("pink","darken-4"),
    'clr': #FFF
  ),
  'pink-a100': (
    'bg': color("pink","accent-1"),
    'clr': #000
  ),
  'pink-a200': (
    'bg': color("pink","accent-2"),
    'clr': #FFF
  ),
  'pink-a400': (
    'bg': color("pink","accent-3"),
    'clr': #FFF
  ),
  'pink-a700': (
    'bg': color("pink","accent-4"),
    'clr': #FFF
  ),
  'purple-50': (
    'bg': color("purple","lighten-5"),
    'clr': #000
  ),
  'purple-100': (
    'bg': color("purple","lighten-4"),
    'clr': #000
  ),
  'purple-200': (
    'bg': color("purple","lighten-3"),
    'clr': #000
  ),
  'purple-300': (
    'bg': color("purple","lighten-2"),
    'clr': #FFF
  ),
  'purple-400': (
    'bg': color("purple","lighten-1"),
    'clr': #FFF
  ),
  'purple-500': (
    'bg': color("purple","base"),
    'clr': #FFF
  ),
  'purple-600': (
    'bg': color("purple","darken-1"),
    'clr': #FFF
  ),
  'purple-700': (
    'bg': color("purple","darken-2"),
    'clr': #FFF
  ),
  'purple-800': (
    'bg': color("purple","darken-3"),
    'clr': #FFF
  ),
  'purple-900': (
    'bg': color("purple","darken-4"),
    'clr': #FFF
  ),
  'purple-a100': (
    'bg': color("purple","accent-1"),
    'clr': #000
  ),
  'purple-a200': (
    'bg': color("purple","accent-2"),
    'clr': #FFF
  ),
  'purple-a400': (
    'bg': color("purple","accent-3"),
    'clr': #FFF
  ),
  'purple-a700': (
    'bg': color("purple","accent-4"),
    'clr': #FFF
  ),
  'deep-purple-50': (
    'bg': color("deep-purple","lighten-5"),
    'clr': #000
  ),
  'deep-purple-100': (
    'bg': color("deep-purple","lighten-4"),
    'clr': #000
  ),
  'deep-purple-200': (
    'bg': color("deep-purple","lighten-3"),
    'clr': #000
  ),
  'deep-purple-300': (
    'bg': color("deep-purple","lighten-2"),
    'clr': #FFF
  ),
  'deep-purple-400': (
    'bg': color("deep-purple","lighten-1"),
    'clr': #FFF
  ),
  'deep-purple-500': (
    'bg': color("deep-purple","base"),
    'clr': #FFF
  ),
  'deep-purple-600': (
    'bg': color("deep-purple","darken-1"),
    'clr': #FFF
  ),
  'deep-purple-700': (
    'bg': color("deep-purple","darken-2"),
    'clr': #FFF
  ),
  'deep-purple-800': (
    'bg': color("deep-purple","darken-3"),
    'clr': #FFF
  ),
  'deep-purple-900': (
    'bg': color("deep-purple","darken-4"),
    'clr': #FFF
  ),
  'deep-purple-a100': (
    'bg': color("deep-purple","accent-1"),
    'clr': #000
  ),
  'deep-purple-a200': (
    'bg': color("deep-purple","accent-2"),
    'clr': #FFF
  ),
  'deep-purple-a400': (
    'bg': color("deep-purple","accent-3"),
    'clr': #FFF
  ),
  'deep-purple-a700': (
    'bg': color("deep-purple","accent-4"),
    'clr': #FFF
  ),
  'indigo-50': (
    'bg': color("indigo","lighten-5"),
    'clr': #000
  ),
  'indigo-100': (
    'bg': color("indigo","lighten-4"),
    'clr': #000
  ),
  'indigo-200': (
    'bg': color("indigo","lighten-3"),
    'clr': #000
  ),
  'indigo-300': (
    'bg': color("indigo","lighten-2"),
    'clr': #FFF
  ),
  'indigo-400': (
    'bg': color("indigo","lighten-1"),
    'clr': #FFF
  ),
  'indigo-500': (
    'bg': color("indigo","base"),
    'clr': #FFF
  ),
  'indigo-600': (
    'bg': color("indigo","darken-1"),
    'clr': #FFF
  ),
  'indigo-700': (
    'bg': color("indigo","darken-2"),
    'clr': #FFF
  ),
  'indigo-800': (
    'bg': color("indigo","darken-3"),
    'clr': #FFF
  ),
  'indigo-900': (
    'bg': color("indigo","darken-4"),
    'clr': #FFF
  ),
  'indigo-a100': (
    'bg': color("indigo","accent-1"),
    'clr': #000
  ),
  'indigo-a200': (
    'bg': color("indigo","accent-2"),
    'clr': #FFF
  ),
  'indigo-a400': (
    'bg': color("indigo","accent-3"),
    'clr': #FFF
  ),
  'indigo-a700': (
    'bg': color("indigo","accent-4"),
    'clr': #FFF
  ),
  'blue-50': (
    'bg': color("blue","lighten-5"),
    'clr': #000
  ),
  'blue-100': (
    'bg': color("blue","lighten-4"),
    'clr': #000
  ),
  'blue-200': (
    'bg': color("blue","lighten-3"),
    'clr': #000
  ),
  'blue-300': (
    'bg': color("blue","lighten-2"),
    'clr': #000
  ),
  'blue-400': (
    'bg': color("blue","lighten-1"),
    'clr': #000
  ),
  'blue-500': (
    'bg': color("blue","base"),
    'clr': #FFF
  ),
  'blue-600': (
    'bg': color("blue","darken-1"),
    'clr': #FFF
  ),
  'blue-700': (
    'bg': color("blue","darken-2"),
    'clr': #FFF
  ),
  'blue-800': (
    'bg': color("blue","darken-3"),
    'clr': #FFF
  ),
  'blue-900': (
    'bg': color("blue","darken-4"),
    'clr': #FFF
  ),
  'blue-a100': (
    'bg': color("blue","accent-1"),
    'clr': #000
  ),
  'blue-a200': (
    'bg': color("blue","accent-2"),
    'clr': #FFF
  ),
  'blue-a400': (
    'bg': color("blue","accent-3"),
    'clr': #FFF
  ),
  'blue-a700': (
    'bg': color("blue","accent-4"),
    'clr': #FFF
  ),
  'light-blue-50': (
    'bg': color("light-blue","lighten-5"),
    'clr': #000
  ),
  'light-blue-100': (
    'bg': color("light-blue","lighten-4"),
    'clr': #000
  ),
  'light-blue-200': (
    'bg': color("light-blue","lighten-3"),
    'clr': #000
  ),
  'light-blue-300': (
    'bg': color("light-blue","lighten-2"),
    'clr': #000
  ),
  'light-blue-400': (
    'bg': color("light-blue","lighten-1"),
    'clr': #000
  ),
  'light-blue-500': (
    'bg': color("light-blue","base"),
    'clr': #FFF
  ),
  'light-blue-600': (
    'bg': color("light-blue","darken-1"),
    'clr': #FFF
  ),
  'light-blue-700': (
    'bg': color("light-blue","darken-2"),
    'clr': #FFF
  ),
  'light-blue-800': (
    'bg': color("light-blue","darken-3"),
    'clr': #FFF
  ),
  'light-blue-900': (
    'bg': color("light-blue","darken-4"),
    'clr': #FFF
  ),
  'light-blue-a100': (
    'bg': color("light-blue","accent-1"),
    'clr': #000
  ),
  'light-blue-a200': (
    'bg': color("light-blue","accent-2"),
    'clr': #000
  ),
  'light-blue-a400': (
    'bg': color("light-blue","accent-3"),
    'clr': #000
  ),
  'light-blue-a700': (
    'bg': color("light-blue","accent-4"),
    'clr': #FFF
  ),
  'cyan-50': (
    'bg': color("cyan","lighten-5"),
    'clr': #000
  ),
  'cyan-100': (
    'bg': color("cyan","lighten-4"),
    'clr': #000
  ),
  'cyan-200': (
    'bg': color("cyan","lighten-3"),
    'clr': #000
  ),
  'cyan-300': (
    'bg': color("cyan","lighten-2"),
    'clr': #000
  ),
  'cyan-400': (
    'bg': color("cyan","lighten-1"),
    'clr': #000
  ),
  'cyan-500': (
    'bg': color("cyan","base"),
    'clr': #FFF
  ),
  'cyan-600': (
    'bg': color("cyan","darken-1"),
    'clr': #FFF
  ),
  'cyan-700': (
    'bg': color("cyan","darken-2"),
    'clr': #FFF
  ),
  'cyan-800': (
    'bg': color("cyan","darken-3"),
    'clr': #FFF
  ),
  'cyan-900': (
    'bg': color("cyan","darken-4"),
    'clr': #FFF
  ),
  'cyan-a100': (
    'bg': color("cyan","accent-1"),
    'clr': #000
  ),
  'cyan-a200': (
    'bg': color("cyan","accent-2"),
    'clr': #000
  ),
  'cyan-a400': (
    'bg': color("cyan","accent-3"),
    'clr': #000
  ),
  'cyan-a700': (
    'bg': color("cyan","accent-4"),
    'clr': #000
  ),
  'teal-50': (
    'bg': color("teal","lighten-5"),
    'clr': #000
  ),
  'teal-100': (
    'bg': color("teal","lighten-4"),
    'clr': #000
  ),
  'teal-200': (
    'bg': color("teal","lighten-3"),
    'clr': #000
  ),
  'teal-300': (
    'bg': color("teal","lighten-2"),
    'clr': #000
  ),
  'teal-400': (
    'bg': color("teal","lighten-1"),
    'clr': #000
  ),
  'teal-500': (
    'bg': color("teal","base"),
    'clr': #FFF
  ),
  'teal-600': (
    'bg': color("teal","darken-1"),
    'clr': #FFF
  ),
  'teal-700': (
    'bg': color("teal","darken-2"),
    'clr': #FFF
  ),
  'teal-800': (
    'bg': color("teal","darken-3"),
    'clr': #FFF
  ),
  'teal-900': (
    'bg': color("teal","darken-4"),
    'clr': #FFF
  ),
  'teal-a100': (
    'bg': color("teal","accent-1"),
    'clr': #000
  ),
  'teal-a200': (
    'bg': color("teal","accent-2"),
    'clr': #000
  ),
  'teal-a400': (
    'bg': color("teal","accent-3"),
    'clr': #000
  ),
  'teal-a700': (
    'bg': color("teal","accent-4"),
    'clr': #000
  ),
  'green-50': (
    'bg': color("green","lighten-5"),
    'clr': #000
  ),
  'green-100': (
    'bg': color("green","lighten-4"),
    'clr': #000
  ),
  'green-200': (
    'bg': color("green","lighten-3"),
    'clr': #000
  ),
  'green-300': (
    'bg': color("green","lighten-2"),
    'clr': #000
  ),
  'green-400': (
    'bg': color("green","lighten-1"),
    'clr': #000
  ),
  'green-500': (
    'bg': color("green","base"),
    'clr': #FFF
  ),
  'green-600': (
    'bg': color("green","darken-1"),
    'clr': #FFF
  ),
  'green-700': (
    'bg': color("green","darken-2"),
    'clr': #FFF
  ),
  'green-800': (
    'bg': color("green","darken-3"),
    'clr': #FFF
  ),
  'green-900': (
    'bg': color("green","darken-4"),
    'clr': #FFF
  ),
  'green-a100': (
    'bg': color("green","accent-1"),
    'clr': #000
  ),
  'green-a200': (
    'bg': color("green","accent-2"),
    'clr': #000
  ),
  'green-a400': (
    'bg': color("green","accent-3"),
    'clr': #000
  ),
  'green-a700': (
    'bg': color("green","accent-4"),
    'clr': #000
  ),
  'light-green-50': (
    'bg': color("light-green","lighten-5"),
    'clr': #000
  ),
  'light-green-100': (
    'bg': color("light-green","lighten-4"),
    'clr': #000
  ),
  'light-green-200': (
    'bg': color("light-green","lighten-3"),
    'clr': #000
  ),
  'light-green-300': (
    'bg': color("light-green","lighten-2"),
    'clr': #000
  ),
  'light-green-400': (
    'bg': color("light-green","lighten-1"),
    'clr': #000
  ),
  'light-green-500': (
    'bg': color("light-green","base"),
    'clr': #000
  ),
  'light-green-600': (
    'bg': color("light-green","darken-1"),
    'clr': #000
  ),
  'light-green-700': (
    'bg': color("light-green","darken-2"),
    'clr': #FFF
  ),
  'light-green-800': (
    'bg': color("light-green","darken-3"),
    'clr': #FFF
  ),
  'light-green-900': (
    'bg': color("light-green","darken-4"),
    'clr': #FFF
  ),
  'light-green-a100': (
    'bg': color("light-green","accent-1"),
    'clr': #000
  ),
  'light-green-a200': (
    'bg': color("light-green","accent-2"),
    'clr': #000
  ),
  'light-green-a400': (
    'bg': color("light-green","accent-3"),
    'clr': #000
  ),
  'light-green-a700': (
    'bg': color("light-green","accent-4"),
    'clr': #000
  ),
  'lime-50': (
    'bg': color("lime","lighten-5"),
    'clr': #000
  ),
  'lime-100': (
    'bg': color("lime","lighten-4"),
    'clr': #000
  ),
  'lime-200': (
    'bg': color("lime","lighten-3"),
    'clr': #000
  ),
  'lime-300': (
    'bg': color("lime","lighten-2"),
    'clr': #000
  ),
  'lime-400': (
    'bg': color("lime","lighten-1"),
    'clr': #000
  ),
  'lime-500': (
    'bg': color("lime","base"),
    'clr': #000
  ),
  'lime-600': (
    'bg': color("lime","darken-1"),
    'clr': #000
  ),
  'lime-700': (
    'bg': color("lime","darken-2"),
    'clr': #000
  ),
  'lime-800': (
    'bg': color("lime","darken-3"),
    'clr': #000
  ),
  'lime-900': (
    'bg': color("lime","darken-4"),
    'clr': #FFF
  ),
  'lime-a100': (
    'bg': color("lime","accent-1"),
    'clr': #000
  ),
  'lime-a200': (
    'bg': color("lime","accent-2"),
    'clr': #000
  ),
  'lime-a400': (
    'bg': color("lime","accent-3"),
    'clr': #000
  ),
  'lime-a700': (
    'bg': color("lime","accent-4"),
    'clr': #000
  ),
  'yellow-50': (
    'bg': color("yellow","lighten-5"),
    'clr': #000
  ),
  'yellow-100': (
    'bg': color("yellow","lighten-4"),
    'clr': #000
  ),
  'yellow-200': (
    'bg': color("yellow","lighten-3"),
    'clr': #000
  ),
  'yellow-300': (
    'bg': color("yellow","lighten-2"),
    'clr': #000
  ),
  'yellow-400': (
    'bg': color("yellow","lighten-1"),
    'clr': #000
  ),
  'yellow-500': (
    'bg': color("yellow","base"),
    'clr': #000
  ),
  'yellow-600': (
    'bg': color("yellow","darken-1"),
    'clr': #000
  ),
  'yellow-700': (
    'bg': color("yellow","darken-2"),
    'clr': #000
  ),
  'yellow-800': (
    'bg': color("yellow","darken-3"),
    'clr': #000
  ),
  'yellow-900': (
    'bg': color("yellow","darken-4"),
    'clr': #000
  ),
  'yellow-a100': (
    'bg': color("yellow","accent-1"),
    'clr': #000
  ),
  'yellow-a200': (
    'bg': color("yellow","accent-2"),
    'clr': #000
  ),
  'yellow-a400': (
    'bg': color("yellow","accent-3"),
    'clr': #000
  ),
  'yellow-a700': (
    'bg': color("yellow","accent-4"),
    'clr': #000
  ),
  'amber-50': (
    'bg': color("amber","lighten-5"),
    'clr': #000
  ),
  'amber-100': (
    'bg': color("amber","lighten-4"),
    'clr': #000
  ),
  'amber-200': (
    'bg': color("amber","lighten-3"),
    'clr': #000
  ),
  'amber-300': (
    'bg': color("amber","lighten-2"),
    'clr': #000
  ),
  'amber-400': (
    'bg': color("amber","lighten-1"),
    'clr': #000
  ),
  'amber-500': (
    'bg': color("amber","base"),
    'clr': #000
  ),
  'amber-600': (
    'bg': color("amber","darken-1"),
    'clr': #000
  ),
  'amber-700': (
    'bg': color("amber","darken-2"),
    'clr': #000
  ),
  'amber-800': (
    'bg': color("amber","darken-3"),
    'clr': #000
  ),
  'amber-900': (
    'bg': color("amber","darken-4"),
    'clr': #000
  ),
  'amber-a100': (
    'bg': color("amber","accent-1"),
    'clr': #000
  ),
  'amber-a200': (
    'bg': color("amber","accent-2"),
    'clr': #000
  ),
  'amber-a400': (
    'bg': color("amber","accent-3"),
    'clr': #000
  ),
  'amber-a700': (
    'bg': color("amber","accent-4"),
    'clr': #000
  ),
  'orange-50': (
    'bg': color("orange","lighten-5"),
    'clr': #000
  ),
  'orange-100': (
    'bg': color("orange","lighten-4"),
    'clr': #000
  ),
  'orange-200': (
    'bg': color("orange","lighten-3"),
    'clr': #000
  ),
  'orange-300': (
    'bg': color("orange","lighten-2"),
    'clr': #000
  ),
  'orange-400': (
    'bg': color("orange","lighten-1"),
    'clr': #000
  ),
  'orange-500': (
    'bg': color("orange","base"),
    'clr': #000
  ),
  'orange-600': (
    'bg': color("orange","darken-1"),
    'clr': #000
  ),
  'orange-700': (
    'bg': color("orange","darken-2"),
    'clr': #000
  ),
  'orange-800': (
    'bg': color("orange","darken-3"),
    'clr': #FFF
  ),
  'orange-900': (
    'bg': color("orange","darken-4"),
    'clr': #FFF
  ),
  'orange-a100': (
    'bg': color("orange","accent-1"),
    'clr': #000
  ),
  'orange-a200': (
    'bg': color("orange","accent-2"),
    'clr': #000
  ),
  'orange-a400': (
    'bg': color("orange","accent-3"),
    'clr': #000
  ),
  'orange-a700': (
    'bg': color("orange","accent-4"),
    'clr': #000
  ),
  'deep-orange-50': (
    'bg': color("deep-orange","lighten-5"),
    'clr': #000
  ),
  'deep-orange-100': (
    'bg': color("deep-orange","lighten-4"),
    'clr': #000
  ),
  'deep-orange-200': (
    'bg': color("deep-orange","lighten-3"),
    'clr': #000
  ),
  'deep-orange-300': (
    'bg': color("deep-orange","lighten-2"),
    'clr': #000
  ),
  'deep-orange-400': (
    'bg': color("deep-orange","lighten-1"),
    'clr': #000
  ),
  'deep-orange-500': (
    'bg': color("deep-orange","base"),
    'clr': #000
  ),
  'deep-orange-600': (
    'bg': color("deep-orange","darken-1"),
    'clr': #FFF
  ),
  'deep-orange-700': (
    'bg': color("deep-orange","darken-2"),
    'clr': #FFF
  ),
  'deep-orange-800': (
    'bg': color("deep-orange","darken-3"),
    'clr': #FFF
  ),
  'deep-orange-900': (
    'bg': color("deep-orange","darken-4"),
    'clr': #FFF
  ),
  'deep-orange-a100': (
    'bg': color("deep-orange","accent-1"),
    'clr': #000
  ),
  'deep-orange-a200': (
    'bg': color("deep-orange","accent-2"),
    'clr': #000
  ),
  'deep-orange-a400': (
    'bg': color("deep-orange","accent-3"),
    'clr': #FFF
  ),
  'deep-orange-a700': (
    'bg': color("deep-orange","accent-4"),
    'clr': #FFF
  ),
  'brown-50': (
    'bg': color("brown","lighten-5"),
    'clr': #000
  ),
  'brown-100': (
    'bg': color("brown","lighten-4"),
    'clr': #000
  ),
  'brown-200': (
    'bg': color("brown","lighten-3"),
    'clr': #000
  ),
  'brown-300': (
    'bg': color("brown","lighten-2"),
    'clr': #FFF
  ),
  'brown-400': (
    'bg': color("brown","lighten-1"),
    'clr': #FFF
  ),
  'brown-500': (
    'bg': color("brown","base"),
    'clr': #FFF
  ),
  'brown-600': (
    'bg': color("brown","darken-1"),
    'clr': #FFF
  ),
  'brown-700': (
    'bg': color("brown","darken-2"),
    'clr': #FFF
  ),
  'brown-800': (
    'bg': color("brown","darken-3"),
    'clr': #FFF
  ),
  'brown-900': (
    'bg': color("brown","darken-4"),
    'clr': #FFF
  ),
  'grey-50': (
    'bg': color("grey","lighten-5"),
    'clr': #000
  ),
  'grey-100': (
    'bg': color("grey","lighten-4"),
    'clr': #000
  ),
  'grey-200': (
    'bg': color("grey","lighten-3"),
    'clr': #000
  ),
  'grey-300': (
    'bg': color("grey","lighten-2"),
    'clr': #000
  ),
  'grey-400': (
    'bg': color("grey","lighten-1"),
    'clr': #000
  ),
  'grey-500': (
    'bg': color("grey","base"),
    'clr': #000
  ),
  'grey-600': (
    'bg': color("grey","darken-1"),
    'clr': #FFF
  ),
  'grey-700': (
    'bg': color("grey","darken-2"),
    'clr': #FFF
  ),
  'grey-800': (
    'bg': color("grey","darken-3"),
    'clr': #FFF
  ),
  'grey-900': (
    'bg': color("grey","darken-4"),
    'clr': #FFF
  ),
  'blue-grey-50': (
    'bg': color("blue-grey","lighten-5"),
    'clr': #000
  ),
  'blue-grey-100': (
    'bg': color("blue-grey","lighten-4"),
    'clr': #000
  ),
  'blue-grey-200': (
    'bg': color("blue-grey","lighten-3"),
    'clr': #000
  ),
  'blue-grey-300': (
    'bg': color("blue-grey","lighten-2"),
    'clr': #000
  ),
  'blue-grey-400': (
    'bg': color("blue-grey","lighten-1"),
    'clr': #FFF
  ),
  'blue-grey-500': (
    'bg': color("blue-grey","base"),
    'clr': #FFF
  ),
  'blue-grey-600': (
    'bg': color("blue-grey","darken-1"),
    'clr': #FFF
  ),
  'blue-grey-700': (
    'bg': color("blue-grey","darken-2"),
    'clr': #FFF
  ),
  'blue-grey-800': (
    'bg': color("blue-grey","darken-3"),
    'clr': #FFF
  ),
  'blue-grey-900': (
    'bg': color("blue-grey","darken-4"),
    'clr': #FFF
  ),
  'white-500': (
    'bg': #FFF,
    'clr': #000
  ),
  'black-500': (
    'bg': #000,
    'clr': #FFF
  )
);

@each $name,$color in $colors {
  .md-#{$name}-border {
    border-color: map-get($color, clr) !important;
  }
  .md-#{$name}--text {
    color: map-get($color, bg) !important;
  }
  .md-#{$name} {
    @include yun-themebuilder(map-get($color, bg), map-get($color, clr));
    &.v-btn, button, a {
      i {
        color: map-get($color, clr) !important;
      }
    }
    &.v-avatar {
      i {
        color: map-get($color, clr) !important;
      }
    }

    &.yun-sidebar {
      .v-toolbar {
        .v-list .v-list__tile {
          color: map-get($color, clr) !important;
        }
      }
      .v-toolbar__content ul, .nav-drawer {
        @include yun-themebuilder(map-get($color, bg), map-get($color, clr));
        .v-list__group__header__append-icon, .v-list__group__header__prepend-icon {
          color: map-get($color, clr) !important;
        }
        .heading-text {
          color: rgba(map-get($color, clr), 0.4) !important;
        }
        .v-list__group:not(.v-list__group--active) {
          * {
            color: map-get($color, clr) !important;
          }
        }
      }
      &:not(.alpha) {
        .v-toolbar .v-list__tile {
          @include yun-themebuilder(map-get($color, bg), map-get($color, clr));
        }
      }
      &.alpha {

      }
      .v-list__group--active, .v-list__tile--active {
        @include yun-tb-listgroup(map-get($color, bg), map-get($color, clr));
        .v-list__tile--active {
          background: transparent;
          background-color: transparent;
          color: map-get($color, clr);
        }
      }
      &.alpha {
        .nav-drawer, .v-toolbar__content ul {
          z-index: 4;
          position: relative;
          background: transparent !important;
          background-color: transparent !important;
        }
        &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
          background: #000;
        }
        .sidebar-background {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 100%;
          display: block;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: center center;
          &:after {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: rgba(map-get($color, bg), 0.75);
            opacity: 1;
          }
        }
      }
    }
  }
  .md-#{$name}-scheme {
    .yun-sidebar {
      .v-list-item--active {
        .v-list-item__icon .v-icon{
          @include yun-themebuilder(map-get($color, bg), map-get($color, clr));
        }
        .v-list-item__title{
          @include yun-themebuilder(map-get($color, bg), map-get($color, clr));
        }
      }
      .nav-drawer {
        .v-list__group .v-list__group__items .v-list__tile--active {
          .v-list__tile__action i {
            color: map-get($color, clr) !important;
          }
        }
        .list__tile-solo {
          .v-list__tile--active i {
            color: map-get($color, clr) !important;
          }
        }
        .v-list__group__header--active {
          .list__tile-inner-group {
            .v-list__tile__action i {
              color: map-get($color, clr);
            }
          }
        }
      }

      &.google-material-effect {
        .v-list__tile--active {
          @include yun-gmd-themebuilder(map-get($color, bg), map-get($color, clr));
          .v-list__tile__action i {
            color: map-get($color, clr) !important;
          }
        }
        .nav-drawer .v-list__group .v-list__group__items .v-list__tile--active {
          .v-list__tile__action i {
            color: map-get($color, bg) !important;
          }
        }
        .nav-drawer .list__tile-solo {
          .v-list__tile--active i {
            color: map-get($color, bg) !important;
          }
        }
      }
    }
    .box-glow {
      background-color: map-get($color, bg) !important;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(map-get($color, bg), 0.6);
      .v-list-item__subtitle{
        color: map-get($color, clr);
      }
      .v-list-item__title{
        color: map-get($color, clr);
      }
      .v-list-item__icon{
        color: map-get($color, clr);
      }
    }
    .text-glow {
      text-shadow: 1px 2px 4px rgba(map-get($color, bg), 0.6);
      color: map-get($color, clr);
    }
    &.v-btn {
      @include yun-themebuilder(map-get($color, bg), map-get($color, clr));
    }

    .v-card__title.b-left {
      border-left: 3px solid map-get($color, bg);
      border-top-left-radius: unset !important;
      font-size: 1.25rem;
      padding:0 0 0 1rem;
      font-weight: 600;
    }
  }
  .box-#{$name}-glow {
    background-color: map-get($color, bg) !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(map-get($color, bg), 0.6);
  }
  .text-#{$name}-glow {
    text-shadow: 1px 2px 4px rgba(map-get($color, bg), 0.6);
  }
}

.theme--light.v-btn-toggle .v-btn.v-btn .v-icon {
  color: inherit;
}